<div id="divWeatherMain" >
    <div *ngIf="isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="!isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
        <div class="weatherWidgetRow cloudDiv">
            <i class="fas fa-cloud fa-3x cloud"></i>
        </div>
    </div>
    
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 32px;margin-top: 5px;"><strong>{{ weatherData.data.current_condition[0].temp_C }}°</strong></div>
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 32px;margin-top: 5px;"><strong>{{ city }} , {{ country }}</strong></div>
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 32px;margin-top: 5px;">{{ weatherData.data.current_condition[0].weatherDesc[0].value }}</div>
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 20px;">{{ weatherData.data.weather[0].mintempC }}° / {{ weatherData.data.weather[0].maxtempC }}°</div>
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 20px; margin-top: 10px;">Humidity: {{ weatherData.data.current_condition[0].humidity }}%</div>
    <div class="weatherWidgetRow" *ngIf="weatherData" style="font-size: 20px; margin-top: 10px;">Feels like: {{ weatherData.data.current_condition[0].FeelsLikeC }}°</div>
    <!--<p>City:{{weatherData.city.name}}</p>-->
    <!--<p *ngIf="weatherData">City:<strong>{{ weatherData.data.request[0].query}}</strong></p>-->
    
    
    
</div>

