<div id="divWeatherMain" >

    <div *ngIf="isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="!isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>
        <div class="weatherWidgetRow cloudDiv">
            <i class="fas fa-cloud fa-3x cloud"></i>
        </div>
    </div>

    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 32px;margin-top: 5px;"><strong>{{ cityWeather.data.current_condition[0].temp_C }}°</strong></div>
    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 32px;margin-top: 5px;"><strong>{{ cityWeather.data.request[0].query }} </strong></div>
    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 32px;margin-top: 5px;">{{ cityWeather.data.current_condition[0].weatherDesc[0].value }}</div>
    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 20px;">{{ cityWeather.data.weather[0].mintempC }}° / {{ cityWeather.data.weather[0].maxtempC }}°</div>
    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 20px; margin-top: 10px;">Humidity: {{ cityWeather.data.current_condition[0].humidity }}%</div>
    <div class="weatherWidgetRow" *ngIf="cityWeather" style="font-size: 20px; margin-top: 10px;">Feels like: <strong>{{ cityWeather.data.current_condition[0].FeelsLikeC }}°</strong></div>    
</div>
