<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">

<div>
  <app-header></app-header>
  <!--<app-city-form></app-city-form>
  <app-forecast></app-forecast>-->
  <button type="button" routerLink="/forecast" routerLinkActive="active">Forecast </button>
  <button type="button" routerLink="/cityForm" routerLinkActive="active">city weather</button>
  
  
</div>

<router-outlet></router-outlet>